<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%= htmlWebpackPlugin.options.title %></title>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-K9S7Y9BZ61"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());

      gtag('config', 'G-K9S7Y9BZ61');
    </script>
  </head>

  <body class="body">
    <main class="main">
      <h1 class="header"><%= htmlWebpackPlugin.options.title %></h1>
      <form id="invoice-value-form">
        <fieldset class="fieldset">
          <legend>Wejście</legend>

          <p class="paragraph">
            <label class="paragraph__label paragraph__label_bold" for="salary">
              Miesięczne ryczałtowe wynagrodzenie netto [PLN]:
            </label>
            <input
              id="salary"
              class="paragraph__value input"
              type="number"
              min="0"
              required
            />
          </p>

          <p class="paragraph">
            <input id="sick-leave" type="checkbox" />
            <label class="paragraph__label" for="sick-leave">
              Zwolnienie lekarskie
            </label>
          </p>

          <p class="paragraph">
            <input id="part-time" type="checkbox" />
            <label class="paragraph__label" for="part-time">
              Niepełny miesiąc
            </label>
          </p>
        </fieldset>

        <fieldset id="sick-leave-fieldset" class="fieldset fieldset_hidden">
          <legend>Zwolnienie lekarskie</legend>

          <p class="paragraph">
            <label
              class="paragraph__label paragraph__label_bold"
              for="sick-daily-rate-factor"
            >
              Stawka za dzień chorobowy [%]:
            </label>
            <input
              id="sick-daily-rate-factor"
              class="paragraph__value input"
              type="number"
              min="0"
              max="100"
              value="80"
            />
          </p>

          <p class="paragraph">
            <label
              class="paragraph__label paragraph__label_bold"
              for="sick-days-count"
            >
              Liczba dni chorobowych:
            </label>
            <input
              id="sick-days-count"
              class="paragraph__value input"
              type="number"
              min="0"
              max="21"
            />
          </p>
        </fieldset>

        <fieldset id="part-time-fieldset" class="fieldset fieldset_hidden">
          <legend>Niepełny miesiąc</legend>
          <p class="paragraph">
            <label
              class="paragraph__label paragraph__label_bold"
              for="work-days-count"
            >
              Liczba dni świadczenia usług:
            </label>
            <input
              id="work-days-count"
              class="paragraph__value input"
              type="number"
              min="0"
              max="21"
            />
          </p>
        </fieldset>

        <button class="button">Oblicz</button>

        <fieldset id="calc-output-fieldset" class="fieldset fieldset_hidden">
          <legend>Wyjście</legend>

          <p class="paragraph">
            <strong class="paragraph__label">Stawka netto za godzinę:</strong>
            <span id="hourly-rate" class="paragraph__value number"></span>
          </p>

          <p class="paragraph">
            <strong class="paragraph__label">Stawka netto za dzień:</strong>
            <span id="daily-rate" class="paragraph__value number"></span>
          </p>

          <p class="paragraph">
            <strong class="paragraph__label">
              Kwota netto do wystawienia na fakturze:
            </strong>
            <span id="invoice-value" class="paragraph__value number"></span>
          </p>
        </fieldset>
      </form>
    </main>
  </body>
</html>
