$grid-breakpoint-sm: 576px;
$grid-breakpoint-md: 768px;
$grid-breakpoint-lg: 992px;
$grid-breakpoint-xl: 1200px;
$grid-breakpoint-xxl: 1400px;

.body {
  margin: 1em;
  font-family: sans-serif;

  @media (min-width: $grid-breakpoint-md) {
    margin: 4em;
  }
}

.main {
  max-width: 520px;
  margin: 0 auto;
}

.header {
  margin: 0;
  text-align: center;
  font-size: 1.2em;

  @media (min-width: $grid-breakpoint-md) {
    font-size: 1.8em;
  }
}

.fieldset {
  margin: 1em 0;
  padding: 1em;
  border: 2px solid #000;

  @media (min-width: $grid-breakpoint-md) {
    margin: 2em 0;
    padding: 2em;
  }

  &_hidden {
    display: none;
  }
}

.paragraph {
  &:first-of-type {
    margin-top: 0;
  }

  &:last-of-type {
    margin-bottom: 0;
  }

  &__label {
    font-size: 16px;

    &_bold {
      font-weight: 600;
    }
  }

  &__value {
    margin-top: 0.5em;
  }
}

.input {
  width: 100%;
  padding: 0.5em;
  box-sizing: border-box;
  font-size: 16px;
  font-family: monospace;
}

.number {
  display: block;
  font-size: 16px;
  font-family: monospace;
}

.button {
  display: block;
  width: 100%;
  margin: 1em 0;
  padding: 0.5em;
  box-sizing: border-box;

  @media (min-width: $grid-breakpoint-md) {
    margin: 2em 0;
  }
}
