$grid-breakpoint-sm: 576px;
$grid-breakpoint-md: 768px;
$grid-breakpoint-lg: 992px;
$grid-breakpoint-xl: 1200px;
$grid-breakpoint-xxl: 1400px;

body {
  margin: 1em;
  font-family: sans-serif;

  @media (min-width: $grid-breakpoint-md) {
    margin: 4em;
  }
}

main {
  max-width: 520px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  font-size: 1.2em;

  @media (min-width: $grid-breakpoint-md) {
    font-size: 1.8em;
  }
}

fieldset {
  margin: 1em 0;
  padding: 1em;

  @media (min-width: $grid-breakpoint-md) {
    margin: 2em 0;
    padding: 2em;
  }
}

p {
  &:first-of-type {
    margin-top: 0;
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}

label {
  font-weight: 600;
}

input {
  width: 100%;
  margin-top: 0.5em;
  padding: 0.5em;
  box-sizing: border-box;
}

button {
  display: block;
  width: 100%;
  margin: 1em 0;
  padding: 0.5em;
  box-sizing: border-box;

  @media (min-width: $grid-breakpoint-md) {
    margin: 2em 0;
  }
}
